html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  background-color: #80d994;
}

button {
  border: 1px solid #000;
  padding: 25px 50px;
  color: white;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  background-color: grey;
  cursor: pointer;
}